@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');


body, input, button, select {
  font-family: "Poppins", sans-serif;
}

body{
  margin: 2rem;
  background:#F2F2F2;
}

select, input, button{
  height: 40px;
}

li, ol, ul{
  list-style-type: none;
  padding: 0;
}

input{
  box-sizing: border-box;
  border-radius: 15px;
  border: none;
  padding: 0.10rem 0.5rem;
  width: 100%;
}

input:focus {
  /* box-sizing: border-box; */
  border: 2px solid #2DC268; 
  outline: none; 
}

button{
  border-radius: 15px;
  border: none;
  background: #2DC268;
  color: white;
  padding: 0.10rem 0.5rem;
}

button:hover{
  background: #28a359;

}

/* Home Page */

.main-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.row{
  text-align: center
}

.pagination-btns{
  margin:2rem;
}

.search-btn{
  width: 100%;
  margin-top: 0.5rem;
}

/* Container for each recipe card */
.recipe-card {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 15px; 
  transition: all 0.3s ease-in-out;
}

.recipe-card img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  border-radius: 15px; 
}

/* Title and Button positioning */
.recipe-card-title, .recipe-card-button {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px;
  font-weight: bold;
}

/* Title position */
.recipe-card-title {
  top: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background for title */
  font-size: 16px;
  z-index: 1;
}

/* Button position */
.recipe-card-button {
  bottom: 0;
  z-index: 1;
  width: 100%;
  margin-bottom: 0.5rem;
}

